name: Release

on:
  issue_comment:
    types: [ created ]

jobs:
  build_and_release:
    name: Build and release
    runs-on: ubuntu-latest
    container: devkitpro/devkita64:latest
    if: contains(github.event.comment.body, '/release-action')

    steps:
      - name: Update packages
        run: |
          sudo apt-get update -y
          sudo -n apt-get install -y git build-essential maven zip
        shell: bash

      - name: Update latest libnx
        run: |
          git config --global --add safe.directory "*"
          git clone --recurse-submodules https://github.com/switchbrew/libnx.git
          cd libnx
          make install -j$(nproc)
        shell: bash

      - name: Checkout latest code
        uses: actions/checkout@v5
        with:
          ref: master
          clean: true
          fetch-depth: 0
          fetch-tags: true
          submodules: recursive

      - name: Workaround for RUST toolchain
        run: |
          sed -i 's/channel = "nightly"/channel = "nightly-2024-01-01"/' rust-toolchain.toml
        shell: bash

      - name: Prepare Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true

      - name: Prepare rust-src
        run: rustup component add rust-src

      - name: Prepare cargo-nx
        run: cargo install cargo-nx --git https://github.com/aarch64-switch-rs/cargo-nx

      - name: Setup maven
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup ENV parameters
        run: |
          VER_FILE=overlay/Makefile
          VERSION=v$(awk '/^VER_MAJOR/{print $3}' $VER_FILE).$(awk '/^VER_MINOR/{print $3}' $VER_FILE).$(awk '/^VER_MICRO/{print $3}' $VER_FILE)
          echo "TAG=${VERSION}" >> "${GITHUB_ENV}"
          echo "RELEASE_NAME=emuiibo ${VERSION}" >> "${GITHUB_ENV}"
        shell: bash

      - name: Build
        run: |
          export DEVKITPRO=/opt/devkitpro
          make all
        shell: bash

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2.5.0
        with:
          name: ${{ env.RELEASE_NAME }}
          tag_name: ${{ env.TAG }}
          draft: false
          prerelease: false
          generate_release_notes: yes
          make_latest: true
          files: |
            ./SdOut/emuiibo.zip
            ./emuiigen/target/emuiigen-jar-with-dependencies.jar
