name: Release

on:
  issue_comment:
    types: [ created ]

jobs:
  build_and_release:
    name: Build and release
    runs-on: ubuntu-latest
    container: devkitpro/devkita64:latest
    if: contains(github.event.comment.body, '/release-action')

    steps:
      - name: Update packages
        run: |
          sudo -n apt-get install -y git build-essential zip
        shell: bash

      - name: Update latest libnx
        run: |
          git config --global --add safe.directory "*"
          git clone --recurse-submodules https://github.com/zdm65477730/libnx.git
          cd libnx
          make install -j$(nproc)
        shell: bash

      - name: Cargo cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            emuiibo/target
          key: emuiibo-${{ runner.os }}-${{ hashFiles('emuiibo/Cargo.lock') }}
          restore-keys: |
            emuiibo-${{ runner.os }}-
      - name: Prepare Rust
        uses: moonrepo/setup-rust@v1
        with:
          components: rust-src
          profile: minimal
          cache: false

      - name: Prepare cargo-nx
        run: cargo install cargo-nx --git https://github.com/aarch64-switch-rs/cargo-nx --rev 0dfe4a3c

      - name: Setup maven
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Checkout latest code
        uses: actions/checkout@v5
        with:
          ref: master
          clean: true
          fetch-depth: 0
          fetch-tags: true
          submodules: recursive

      - name: Setup ENV parameters
        run: |
          VER_FILE=overlay/Makefile
          VERSION=v$(awk '/^VER_MAJOR/{print $3}' $VER_FILE).$(awk '/^VER_MINOR/{print $3}' $VER_FILE).$(awk '/^VER_MICRO/{print $3}' $VER_FILE)
          echo "TAG=${VERSION}" >> "${GITHUB_ENV}"
          echo "RELEASE_NAME=emuiibo ${VERSION}" >> "${GITHUB_ENV}"
        shell: bash

      - name: Build
        run: |
          export DEVKITPRO=/opt/devkitpro
          make all
        shell: bash

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2.5.0
        with:
          name: ${{ env.RELEASE_NAME }}
          tag_name: ${{ env.TAG }}
          draft: false
          prerelease: false
          generate_release_notes: yes
          make_latest: true
          files: |
            ./SdOut/emuiibo.zip
            ./emuiigen/target/emuiigen.jar